* {
	outline: none;
}

body {
	background-image: url(../images/body_bg_1.jpg);
	margin: 0;
	color: #333;
}

.logo {
	text-align: center;
	padding: 15px;
}
.body_overlay {
	background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  width: 100%;
  min-height: 100vh;
}

.main, .rules, .status {
	padding: 20px;
	padding-top: 50px;
	background-color: rgba(245, 245, 246, 0.9);
	border-radius: 3px;
}

.form {  }

.question {
  font-size: 20px;
  line-height: 1.42857143;
  text-align: center;
}

.answer__input {
	display: block;
	width: 100%;
	margin-top: 20px;
	height: 60px;
	font-size: 24px;
	border-radius: 6px;
}

.answer_btn {
	display: block;
	margin-top: 15px;
}

.diapason__wrap { margin-top: 15px; }
.diapason__title {}


.right_answer { }

.right_answer__label {}

.rules__title,
.status__title {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: center;
}

.progress__bar {
	display: block;
	width: 100%;
}

.system_error { color: red; }

.restart__wrap { margin: 15px auto; }


.themes__wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ftheme__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	cursor: pointer;
}

.ftheme__input { display: inline-block; margin: auto;}

/* Task-list */
.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}